tomli
sphinx
sphinx_copybutton
recommonmark
sphinx-toolbox
pydata-sphinx-theme
sphinx-copybutton
autodoc_pydantic
myst-parser
sphinx-design
bec_server
bec_ipython_client
bec_widgets[dev]
copier
watchdog
sphinxcontrib-typer
selenium 
webdriver-manager
