"""
{{ description | default("Scan implementation.") }}

Scan procedure:
    - prepare_scan
    - open_scan
    - stage
    - pre_scan
    - scan_core
        - at_each_point (optionally called by scan_core)
    - post_scan
    - unstage
    - close_scan
    - on_exception (called if any exception is raised during the scan)
"""

from __future__ import annotations

from typing import Annotated

import numpy as np

{% if arguments | selectattr("type", "equalto", "DeviceBase") | list %}
from bec_lib.device import DeviceBase

{% endif %}
from bec_lib.logger import bec_logger
{% set arguments_needing_default_arg_type = arguments | selectattr("requires_default_arg_type_import") | list %}
{% set arguments_needing_scan_argument = arguments | selectattr("requires_scan_argument_import") | list %}
{% set arguments_needing_units = arguments | selectattr("requires_units_import") | list %}
{% set builtin_arguments = arguments | selectattr("requires_default_arg_type_import") | list %}
{% set device_arguments = arguments | selectattr("type", "equalto", "DeviceBase") | list %}
{% set scan_args_imports = [] %}
{% if arguments_needing_default_arg_type %}{% set _ = scan_args_imports.append("DefaultArgType") %}{% endif %}
{% if arguments_needing_scan_argument %}{% set _ = scan_args_imports.append("ScanArgument") %}{% endif %}
{% if arguments_needing_units %}{% set _ = scan_args_imports.append("Units") %}{% endif %}
{% if arguments_needing_default_arg_type or arguments_needing_scan_argument %}
from bec_lib.scan_args import {{ scan_args_imports | join(", ") }}
{% endif %}
{% if plugin_components_class %}
from {{ plugin_components_import }} import {{ plugin_components_class }}

{% endif %}
from bec_server.scan_server.scans import position_generators
from bec_server.scan_server.scans.scan_base import ScanBase, ScanType
from bec_server.scan_server.scans.scan_modifier import scan_hook

logger = bec_logger.logger


class {{ name | snake_to_pascal }}(ScanBase):
    # Scan Type: Hardware triggered or software triggered?
    # If the main trigger and readout logic is done within the at_each_point method in scan_core, choose SOFTWARE_TRIGGERED.
    # If the main trigger and readout logic is implemented on a device that is simply kicked off in this scan, choose HARDWARE_TRIGGERED.
    # This primarily serves as information for devices: The device may need to react differently if a software trigger is expected
    # for every point.
    scan_type = ScanType.{{ scan_type | default("SOFTWARE_TRIGGERED") }}

    # Scan name: This is the name of the scan, e.g. "line_scan". This is used for display purposes and to identify the scan type in user interfaces.
    # Choose a descriptive name that does not conflict with existing scan names.
    # It must be a valid Python identifier, that is, it can only contain letters, numbers, and underscores, and must not start with a number.
    scan_name = "{{ name }}"

{% set scan_parameter_arguments = arguments | selectattr("gui_group", "equalto", "Scan Parameters") | list %}
{% set acquisition_arguments = arguments | selectattr("gui_group", "equalto", "Acquisition Parameters") | list %}
{% if scan_parameter_arguments or acquisition_arguments %}
    gui_config = {
{% if scan_parameter_arguments %}
        "Scan Parameters": [{% for argument in scan_parameter_arguments %}"{{ argument.name }}"{% if not loop.last %}, {% endif %}{% endfor %}],
{% endif %}
{% if acquisition_arguments %}
        "Acquisition Parameters": [{% for argument in acquisition_arguments %}"{{ argument.name }}"{% if not loop.last %}, {% endif %}{% endfor %}],
{% endif %}
    }
{% endif %}

    def __init__(
        self,
{% for argument in arguments | default([]) %}
        {{ argument.parameter }},
{% endfor %}
        **kwargs,
    ):
        """
        {{ description | default("Scan implementation.") }}

        Args:
{% for argument in arguments | default([]) %}
            {{ argument.name }} ({{ argument.doc_type }}): {{ argument.doc_line }}
{% endfor %}

        Returns:
            ScanReport
        """
        super().__init__(**kwargs)
{% if plugin_components_class %}
        self.components = {{ plugin_components_class }}(self)
{% endif %}
        self._baseline_readout_status = None
{% for argument in arguments | default([]) %}
        self.{{ argument.name }} = {{ argument.name }}
{% endfor %}
{% if device_arguments %}
        self.motors = [{% for argument in device_arguments %}{{ argument.name }}{% if not loop.last %}, {% endif %}{% endfor %}]
{% endif %}

{% if device_arguments %}
        # TODO: If the scan motors (self.motors) are step-scanned, and we want e.g. GUIs 
        # to pick them up automatically, add them as scan_report_devices to the 
        # update_scan_info call below (scan_report_devices=self.motors). 
        # Delete the comment if not needed.
{% endif %}

        self.update_scan_info(
{% if builtin_arguments %}
{% for argument in builtin_arguments %}
            {{ argument.name }}={{ argument.name }},
{% endfor %}
{% endif %}
        )
{% if device_arguments %}
        # TODO: If the scan motors (self.motors) are step-scanned, we have to elevate 
        # their readout priority to "monitored" to ensure that their positions are 
        # included in every readout of the step scan. 
        # Uncomment the line below as necessary or delete it if not needed.
        
        # self.actions.set_device_readout_priority(self.motors, priority="monitored")
{% endif %}

    @scan_hook
    def prepare_scan(self):
        """
        Prepare the scan. This can include any steps that need to be executed
        before the scan is opened, such as preparing the positions (if not done already)
        or setting up the devices.
        """

        #TODO: If necessary, prepare the positions for the scan here and update the scan 
        # info with the updated num_points and num_monitored_readouts using self.update_scan_info().
        # Take the following example of a hexagonal scan as a reference:

        # self.positions = position_generators.hex_grid_2d(
        #     [
        #         (self.start_motor1, self.stop_motor1, self.step_motor1),
        #         (self.start_motor2, self.stop_motor2, self.step_motor2),
        #     ],
        #     snaked=self.snaked,
        # )

        # if self.relative:
        #     self.start_positions = self.components.get_start_positions(self.motors)
        #     self.positions += self.start_positions

        # self.components.check_limits(self.motors, self.positions)

        # self.update_scan_info(
        #     positions=self.positions,
        #     num_points=len(self.positions),
        #     num_monitored_readouts=len(self.positions) * self.burst_at_each_point,
        # )

        # Delete the comment if not needed.

        self.actions.add_scan_report_instruction_scan_progress(
            points=self.scan_info.num_monitored_readouts, show_table=False
        )
        self._baseline_readout_status = self.actions.read_baseline_devices(wait=False)

    @scan_hook
    def open_scan(self):
        """
        Open the scan.
        This step must call self.actions.open_scan() to ensure that a new scan is
        opened. Make sure to prepare the scan metadata before, either in
        prepare_scan() or in open_scan() itself and call self.update_scan_info(...)
        to update the scan metadata if needed.
        """
        self.actions.open_scan()

    @scan_hook
    def stage(self):
        """
        Stage the devices for the upcoming scan. The stage logic is typically
        implemented on the device itself (i.e. by the device's stage method).
        However, if there are any additional steps that need to be executed before
        staging the devices, they can be implemented here.
        """
        self.actions.stage_all_devices()

    @scan_hook
    def pre_scan(self):
        """
        Pre-scan steps to be executed before the main scan logic.
        This is typically the last chance to prepare the devices before the core scan
        logic is executed. For example, this is a good place to initialize time-criticial
        devices, e.g. devices that have a short timeout.
        The pre-scan logic is typically implemented on the device itself.
        """
        self.actions.pre_scan_all_devices()

    @scan_hook
    def scan_core(self):
        """
        Core scan logic to be executed during the scan.
        This is where the main scan logic should be implemented.
        """

        # TODO: Implement the core scan logic here. If applicable, we recommend to call 
        # self.at_each_point() at each acquisition point in the scan to allow scan modifiers
        # to extend the behavior of the scan at each point.
        # Delete the comment if not needed.

    @scan_hook
    def at_each_point(self):
        """
        Logic to be executed at each acquisition point during the scan.
        """

    @scan_hook
    def post_scan(self):
        """
        Post-scan steps to be executed after the main scan logic.
        """
        self.actions.complete_all_devices()

    @scan_hook
    def unstage(self):
        """Unstage the scan by executing post-scan steps."""
        self.actions.unstage_all_devices()

    @scan_hook
    def close_scan(self):
        """Close the scan."""
        if self._baseline_readout_status is not None:
            self._baseline_readout_status.wait()
        self.actions.close_scan()
        self.actions.check_for_unchecked_statuses()

    @scan_hook
    def on_exception(self, exception: Exception):
        """
        Handle exceptions that occur during the scan.
        This is a good place to implement any cleanup logic that needs to be executed in case of an exception,
        such as returning the devices to a safe state or moving the motors back to their starting position.
        """

    #######################################################
    ######### Helper methods for the scan logic ###########
    #######################################################

    # Implement scan-specific helper methods below.
